<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="user-sign-form">
			<div id="clearance" class="sign-in">
			  <div class="row">
				  <div class="text-xs-center">
				  	<h2><%= t(".title") %></h2>	
				  </div>
			  </div>
			<div class="">
			  <%= render partial: '/sessions/form' %>
			</div>

			</div>
		</div>

	</div>
</div>