<div class="user-sign-form">
	<div id="clearance" class="sign-up">
	  <div class="row">
		  <div class="col-md-6 offset-md-3 text-xs-center">
		  	<h2><%= t(".title") %></h2>	
		  </div>
	  </div>
	  
		<div class="container" >
		  <%= form_for @user do |form| %>
		    <%= render partial: '/users/form', object: form %>
		  <% end %>
		</div>
	</div>
</div>
