<div class="user-sign-form">
	<div id="clearance" class="sign-in">
	  <div class="row">
		  <div class="col-md-6 offset-md-3 text-xs-center">
		  	<h2><%= t(".title") %></h2>	
		  </div>
	  </div>
	<div class="container">
	  <%= render partial: '/sessions/form' %>
	</div>

	</div>
</div>